.search {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  color: #909090;
  background-color: #f9f9f9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-form{
  min-width: 50%;
  text-align: right;
}